extends ../layout

block navbar
    include ../public/navbar

mixin files_group(files)
    for file in files
        if file.type === 'file'
            div.file-body
                div.file
                    span.glyphicon.glyphicon-list-alt
                    span= file.name
                div.buttons
                    button.file-btn.btn.btn-info.btn-xs= lang.btn_share
                    button.file-btn.btn.btn-info.btn-xs= lang.btn_remove
                    button.file-btn.btn.btn-info.btn-xs= lang.btn_email
                    button.file-btn.btn.btn-info.btn-xs= lang.btn_view
                    button.file-btn.btn.btn-info.btn-xs= lang.btn_edit
                    button.file-btn.btn.btn-info.btn-xs= lang.btn_delete
        else if file.type === 'folder'
            -
                var heading_id = 'heading-' + file.name;
                var collapse_id = 'collapse-' + file.name;

            div.panel.folder
                h4.panel-title(
                role="tab",
                id= heading_id)
                    a(role="button",
                    data-toggle="collapse",
                    href="#" + collapse_id,
                    aria-expanded="false",
                    aria-controls= collapse_id)
                        span.glyphicon.glyphicon-folder-close
                        span= file.name
                div.panel-collapse.collapse(
                role="tabpanel",
                id= collapse_id
                aria-labelledby= heading_id,
                aria-expanded="false")
                    +files_group(file.list)

mixin files_group_mobile(files)
    for file in files
        if file.type === 'file'
            div.file-body.panel-body
                div.file
                    span.glyphicon.glyphicon-list-alt
                    span= file.name
                div.buttons
                    button.file-btn.btn.btn-info.btn-xs= lang.btn_share
                    button.file-btn.btn.btn-info.btn-xs= lang.btn_remove
                    button.file-btn.btn.btn-info.btn-xs= lang.btn_email
                    button.file-btn.btn.btn-info.btn-xs= lang.btn_view
                    button.file-btn.btn.btn-info.btn-xs= lang.btn_edit
                    button.file-btn.btn.btn-info.btn-xs= lang.btn_delete
        else if file.type === 'folder'
            -
                var heading_id = 'mobile-heading-' + file.name;
                var collapse_id = 'mobile-collapse-' + file.name;

            div.panel.panel-default.folder
                div.panel-heading(role="tab", id= heading_id)
                    h4.panel-title
                        a(role="button",
                        data-toggle="collapse",
                        href="#" + collapse_id,
                        aria-expanded="false",
                        aria-controls= collapse_id)
                            span.glyphicon.glyphicon-folder-close
                            span= file.name
                div.panel-collapse.collapse(
                role="tabpanel",
                id= collapse_id
                aria-labelledby= heading_id,
                aria-expanded="false")
                    +files_group_mobile(file.list)


block content
    div.section.hidden-xs
        div.form-group.clearfix
            div.col-sm-3
                input.form-control.search-input(type='text',placeholder=lang.search_placeholder)
            div.col-sm-3
                select.form-control#searchname(name='searchname')
                    for name in names
                        option=name
            div.col-sm-3.search
                a(href='#')=lang.search
            div.col-sm-3
                button.btn.btn-default.btn-info=lang.create_notification

        div.panel-group(role="tablist", id="accordion", aria-multiselectable="true")
            +files_group(files)

    div.visible-xs
        div.search-bar.container
            div.search-box
                input.form-control.search-input(type='text',placeholder=lang.search_placeholder)
            div.search-box
                select.form-control#searchname-xs(name='searchname')
                    for name in names
                        option=name
            div.search-box
                button.btn.btn-default.btn-info.btn-sm
                    a(href='#')=lang.search
            div.search-box
                button.btn.btn-default.btn-info.btn-sm
                    a(href="#")=lang.create_notification

        div.panel-group(role="tablist", id="accordion2", aria-multiselectable="true")
            +files_group_mobile(files)
    include ../public/footnavbar

block footer
    include ../public/footer
