extends ../public/layout

block content
    div.section.hidden-xs
        div.form-group.clearfix
            div.col-sm-3.search
                input.form-control.search-input(type="text", placeholder= lang.search_bar)
            div.col-sm-3.search
                a(href='#')=lang.search
            div.col-sm-3.col-sm-offset-3
                button.btn.btn-default.btn-info
                    a(href="createAccount")=lang.create_account
        div.table-style.col-sm-12
            table.table.table-bordered.table-striped.table-condensed
                thead
                    th= lang.thead.number
                    th= lang.thead.client
                    th= lang.thead.assignstaff
                    th= lang.thead.accountstatus
                    th= lang.thead.contact
                    th= lang.thead.email
                    th= lang.thead.phone
                    th= lang.thead.manage
                tbody
                    if accounts.length > 0
                        each account in accounts
                            tr
                                td
                                    a(href="modifyAccount")= account.number
                                td= account.client
                                td= account.assignstaff
                                td= account.accountstatus
                                td= account.contact
                                td= account.email
                                td= account.phone
                                td
                                    button.btn.btn-default.btn-info
                                        a(href="workbook")= lang.btn_work
                                    button.btn.btn-default.btn-info
                                        a(href="billingPayment")= lang.btn_billing
                                    button.btn.btn-default.btn-info
                                        a(href="notification")= lang.btn_notification
                                    button.btn.btn-default.btn-info
                                        a(href="docManager")= lang.btn_document
    div.visible-xs
        div.search-bar.container
            div.search-box
                input.form-control.search-input(type="text", placeholder= lang.search_bar)
            div.search-box
                button.btn.btn-default.btn-info.btn-sm
                    a(href='#')=lang.search
            div.search-box
                button.btn.btn-info.btn-sm
                    a(href="createAccount")= lang.create_account
        div.panel-group#accordion(role="tablist", aria-multiselectable="true")
            each account in accounts
                div.panel.panel-default
                    div.panel-heading(role="tab", id=account.id)
                        h4.panel-title
                            a(role="button",
                            data-toggle="collapse",
                            data-parent="#accordion",
                            href="#collapse-" + account.id,
                            aria-expanded="false",
                            aria-controls="collapse-" + account.id)
                                span= lang.thead.number + ': ' + account.number
                                span &nbsp&nbsp&nbsp&nbsp
                                span= lang.thead.client + ': ' + account.client
                    div.panel-collapse.collapse(
                    id="collapse-" + account.id,
                    role="tabpanel",
                    aria-labelledby=account.id)
                        div.panel-body
                            p= lang.thead.assignstaff + ': ' + account.assignstaff
                            p= lang.thead.accountstatus + ': ' + account.accountstatus
                            p= lang.thead.contact + ': ' + account.contact
                            p= lang.thead.email + ': ' + account.email
                            p= lang.thead.phone + ': ' + account.phone
                            div.button-box
                                button.btn.btn-default.btn-info
                                    a(href="modifyAccounts")= lang.btn_update
                                button.btn.btn-default.btn-info
                                    a(href="workbook")= lang.btn_work
                                button.btn.btn-default.btn-info
                                    a(href="billingPayment")= lang.btn_billing
                                button.btn.btn-default.btn-info
                                    a(href="notification")= lang.btn_notification
                                button.btn.btn-default.btn-info
                                    a(href="docManager")= lang.btn_document

block footer
    include ../public/footerfixed
