extends ../layout

block ownStyles
    link(rel='stylesheet' href='/styles/client/public/footnavbar.css')

block navbar
    include ../public/navbar

block content
    form.form-horizontal(method="post", role="form")
        div.section
            div.form-group
                div.col-sm-4
                    span.label-text= lang.account_num
                    span= userInfo.customerId
                div.col-sm-4.col-sm-offset-1
                    span.label-text= lang.account_type
                    span= userInfo.customerAccountType === 1 ? 'Personal' : 'Business'

        div.section
            if userInfo.customerAccountType === 1
                div.form-group
                    label.col-sm-4(for="first-name")
                        span.highlight *
                        = lang.personal.firstname
                    div.col-sm-5
                        input#first-name.form-control.required(name="firstName", value=userInfo.firstName, placeholder = lang.personal.placeholder)
                div.form-group
                    label.col-sm-4(for="last-name")
                        span.highlight *
                        = lang.personal.firstname
                    div.col-sm-5
                        input#last-name.form-control.required(name="lastName", value=userInfo.lastName, placeholder= lang.personal.placeholder)
            else
                div.form-group
                    label.col-sm-4(for="business-name")
                        span.highlight *
                        = lang.business.text
                    div.col-sm-5
                        input#business-name.form-control.required(name="businessName", value=userInfo.businessName, placeholder= lang.business.placeholder)


        div.section
            div.form-group
                label.col-sm-4(for="account-status")
                    span.highlight *
                    = lang.accountstatus.text
                div.col-sm-5
                    select.form-control#account-status(name="customerAccountStatus")
                        for status in accountStatus
                            if status.customerAccountStatusId === userInfo.customerAccountStatus
                                option(value=status.customerAccountStatusId, selected)= status.accountStatusName
                            else
                                option(value=status.customerAccountStatusId)= status.accountStatusName

            div.form-group
                label.col-sm-4(for="assign-to")
                    span.highlight *
                    = lang.assignto.text
                div.col-sm-5
                    select.form-control#assign-to(name="assignedStaffUser", value=userInfo)
                        for staffUser in assignTo
                            if staffUser.staffUserId === userInfo.assignedStaffUser
                                option(value=staffUser.staffUserId, selected)= staffUser.userName
                            else
                                option(value=staffUser.staffUserId)= staffUser.userName
        div.section
            div.form-group
                label.col-sm-4(for="contact-first-name")
                    span.highlight *
                    = lang.contact_first_name.text
                div.col-sm-5
                    input.form-control.required#contact-first-name(type="text", name="cFirstName", value=userInfo.cFirstName, placeholder= lang.contact_first_name.placeholder)

            div.form-group
                label.col-sm-4(for="contact-last-name")
                    span.highlight *
                    = lang.contact_last_name.text
                div.col-sm-5
                    input.form-control.required#contact-last-name(type="text", name="cLastName", value=userInfo.cLastName, placeholder= lang.contact_last_name.placeholder)

            div.form-group
                label.col-sm-4(for="email")
                    span.highlight *
                    = lang.email_address.text
                div.col-sm-5
                    input.form-control.required#email(type="email", name="emailAddress", value=userInfo.emailAddress, placeholder= lang.email_address.placeholder)

            div.form-group
                label.col-sm-4(for="mobile-num")
                    span.highlight *
                    = lang.mobile_num.text
                div.col-sm-5
                    input.form-control.required#mobile-num(type="tel", name="mobilePhone", value=userInfo.mobilePhone, placeholder= lang.mobile_num.placeholder)

            div.form-group
                label.col-sm-4(for="mailing-address")
                    span.highlight *
                    = lang.mailing_address.text
                div.col-sm-5.country
                    input.form-control.required#mailing-address(type="text", name="mailingAddressStreet", value=userInfo.mailingAddressStreet, placeholder= lang.mailing_address.placeholder.street)
                    input.form-control.required(type="text", name="mailingAddressCity", value=userInfo.mailingAddressCity, placeholder= lang.mailing_address.placeholder.city)
                    input.form-control.required(type="text", name="mailingAddressStateProvince", value=userInfo.mailingAddressStateProvince, placeholder= lang.mailing_address.placeholder.state)
                    select.form-control(name="mailingAddressCountry", value=userInfo.mailingAddressCountry)
                        for country in countries
                            if country.countryId === userInfo.mailingAddressCountry
                                option(value=country.countryId, selected)= country.countryCode + "\t(" + country.countryName + ")"
                            else
                                option(value=country.countryId)= country.countryCode + "\t(" + country.countryName + ")"

            div.form-group
                div.col-sm-4
                    label.address(for="billing_address")
                        span.highlight *
                        = lang.billing_address.text
                    label
                        input#same(type="checkbox")
                        =lang.billing_address.issame
                div.col-sm-5.country
                    input.form-control.required#billing_address(type="text", name="billingAddressStreet", value=userInfo.billingAddressStreet, placeholder= lang.billing_address.placeholder.street)
                    input.form-control.required(type="text", name="billingAddressCity", value=userInfo.billingAddressCity, placeholder= lang.billing_address.placeholder.city)
                    input.form-control.required(type="text", name="billingAddressStateProvince", value=userInfo.billingAddressStateProvince, placeholder= lang.billing_address.placeholder.state)
                    select.form-control(name="billingAddressCountry")
                        for country in countries
                            if country.countryId === userInfo.billingAddressCountry
                                option(value=country.countryId, selected)= country.countryCode + "\t(" + country.countryName + ")"
                            else
                                option(value=country.countryId)= country.countryCode + "\t(" + country.countryName + ")"

            div.form-group
                label.col-sm-4(for="account-note")= lang.account_note.text
                div.col-sm-5
                    textarea.form-control#account-note(name="customerNote", value=userInfo.constomerNote, placeholder= lang.account_note.placeholder)

            div.form-group
                label.col-sm-4(for="email-group")
                    span.highlight *
                    = lang.email_group.text
                div.col-sm-5
                    select.form-control#email-group(name="emailGroup", value=userInfo.emailGroup)
                        for group in emailGroup
                            if group.emailGroupId === userInfo.emailGroup
                                option(value=group.emailGroupId, selected)= group.emailGroupName
                            else
                                option(value=group.emailGroupId)= group.emailGroupName
            div.form-group
                label.col-sm-4
                    span.highlight *
                    = lang.notification.text
                div.col-sm-6
                    label.col-sm-4
                        if String(userInfo.notificationPreference)[0] === '1'
                            input#nemail(type="checkbox", name="notificationPreference", value="1", checked='checked')
                        else
                            input#nemail(type="checkbox", name="notificationPreference", value="1")
                        =lang.notification.email
                    label.col-sm-4
                        if String(userInfo.notificationPreference)[1] === '1'
                            input#nphone(type="checkbox", name="notificationPreference", value="1", checked)
                        else
                            input#nphone(type="checkbox", name="notificationPreference", value="1")
                        =lang.notification.phone
                    label.col-sm-4
                        if String(userInfo.notificationPreference)[2] === '1'
                            input#nsms(type="checkbox", name="notificationPreference", value="1", checked)
                        else
                            input#nsms(type="checkbox", name="notificationPreference", value="1")
                        =lang.notification.sms

            div.form-group
                label.col-sm-4
                    span.highlight *
                    = lang.client_portal.text
                div.col-sm-5
                    if userInfo.enableClientPortal === '1'
                        label.col-sm-6
                            input(type="radio", name="enableClientPortal", value="1", checked)
                            = lang.client_portal.enable
                        label.col-sm-6
                            input(type="radio", name="enableClientPortal", value="2")
                            = lang.client_portal.disable
                    else
                        label.col-sm-6
                            input(type="radio", name="enableClientPortal", value="1")
                            = lang.client_portal.enable
                        label.col-sm-6
                            input(type="radio", name="enableClientPortal", value="2", checked)
                            = lang.client_portal.disable
                div.col-sm-3
                    button.btn.btn-default.btn-info= lang.client_portal.btn_text

        div.section
            div.form-group
                div.buttons.col-sm-9.col-sm-offset-3.col-xs-12
                    button#save.btn.btn-default.btn-info=lang.buttons.save
                    button#archive.btn.btn-default.btn-info=lang.buttons.archive
                    button#delete.btn.btn-default.btn-info=lang.buttons.delete

        div.list-fixed.hidden-xs
            ul.list-group
                for item in lang.list_group
                    li.list-group-item
                        a(href= item.link)= item.text

    include ../public/footnavbar

block footer
    include ../public/footer
