extends ../public/layout

block content
    div.section.hidden-xs
        div.form-group.clearfix
            div.col-sm-3
                input.form-control.search-input(type='text',placeholder=lang.search_placeholder)
            div.col-sm-3
                select.form-control#searchname(name='searchname')
                    for name in names
                        option=name
            div.col-sm-3.search
                a(href='#')=lang.search
            div.col-sm-3
                button.btn.btn-default.btn-info=lang.create_notification
        div.table-style.col-sm-12
            table.table.table-bordered.table-striped.table-condensed
                thead
                    th= lang.thead.number
                    th= lang.thead.name
                    th= lang.thead.description
                    th= lang.thead.recipients
                    th= lang.thead.sendtime
                    th= lang.thead.status
                    th= lang.thead.manage
                tbody
                    if notifications.length > 0
                        each notification in notifications
                            tr
                                td= notification.number
                                td= notification.name
                                td= notification.description
                                td= notification.recipients
                                td= notification.sendtime
                                td= notification.status
                                td
                                    button.btn.btn-default.btn-info= lang.btn_modify
                                    button.btn.btn-default.btn-info= lang.btn_resend
                                    button.btn.btn-default.btn-info= lang.btn_delete
    div.visible-xs
        div.search-bar.container
            div.search-box
                input.form-control.search-input(type='text',placeholder=lang.search_placeholder)
            div.search-box
                select.form-control#searchname-xs(name='searchname')
                    for name in names
                        option=name
            div.search-box
                button.btn.btn-default.btn-info.btn-sm
                    a(href='#')=lang.search
            div.search-box
                button.btn.btn-default.btn-info.btn-sm
                    a(href="#")=lang.create_notification
        div.panel-group#accordion(role="tablist", aria-multiselectable="true")
            each notification in notifications
                div.panel.panel-default
                    div.panel-heading(role="tab", id=notification.id)
                        h4.panel-title
                            a(role="button",
                            data-toggle="collapse",
                            data-parent="#accordion",
                            href="#collapse-" + notification.id,
                            aria-expanded="false",
                            aria-controls="collapse-" + notification.id)
                                span= lang.thead.number + ': ' + notification.number
                                span &nbsp&nbsp&nbsp&nbsp
                                span= lang.thead.name + ': ' + notification.name
                    div.panel-collapse.collapse(
                    id="collapse-" + notification.id,
                    role="tabpanel",
                    aria-labelledby=notification.id)
                        div.panel-body
                            p= lang.thead.description + ': ' + notification.description
                            p= lang.thead.recipients + ': ' + notification.recipients
                            p= lang.thead.sendtime + ': ' + notification.sendtime
                            p= lang.thead.status + ': ' + notification.status
                            button.btn.btn-default.btn-info= lang.btn_modify
                            button.btn.btn-default.btn-info= lang.btn_resend
                            button.btn.btn-default.btn-info= lang.btn_delete

block footer
    include ../public/footerfixed
