div.section
    div.clearfix.footnavbar
        div.col-sm-10
            ul.nav.nav-pills
                li
                    a(href='#')=footnavbar.help
                li
                    a(href='#')=footnavbar.manual
                li
                    a(href='#')=footnavbar.forum
                li
                    a(href='#')=footnavbar.privacy
                li
                    a(href='#')=footnavbar.service
