extends ../layout

block ownStyles
    link(type="text/css", rel="stylesheet", href="/scripts/lib/bootstrap-fileinput/css/fileinput.min.css")

block ownScripts
    script(src="/scripts/lib/bootstrap-fileinput/js/fileinput.js")

block navbar
    include ../public/navbar

block content
    form.form-horizontal(method="post", role="form")
        h1.title= lang.title
        div.section
            div.form-group
                label.col-sm-4(for="username")
                    span.highlight *
                    = lang.username.text
                div.col-sm-5
                    input.form-control.required#username(type="text", name="staffUserName", placeholder= lang.username.placeholder)

            div.form-group
                label.col-sm-4(for="password")
                    span.highlight *
                    = lang.password.text
                div.col-sm-5
                    input.form-control.required#password(type="password", name="hashedPassword", placeholder= lang.password.placeholder)

            div.form-group
                label.col-sm-4(for="confirm")
                    span.highlight *
                    = lang.confirm.text
                div.col-sm-5
                    input.form-control.required#confirm(type="password", name="confirm", placeholder= lang.confirm.placeholder)

            div.form-group
                label.col-sm-4(for="question")
                    span.highlight *
                    = lang.question.text
                div.col-sm-5
                    input.form-control.required#question(type="text", name="securityQuestion", placeholder= lang.question.placeholder)

            div.form-group
                label.col-sm-4(for="answer")
                    span.highlight *
                    = lang.answer.text
                div.col-sm-5
                    input.form-control.required#answer(type="text", name="securityQuestionAnswer", placeholder= lang.answer.placeholder)

            div.form-group
                div.radio.col-sm-6
                    span.col-sm-7.label-text
                        span.highlight *
                        = lang.auto_login.text
                    div.col-sm-5.label-radio
                        label.col-sm-6
                            input(type="radio", name="enable2FactorAuthenticationLogin", value="1" checked)
                            = lang.auto_login.yes
                        label.col-sm-6
                            input(type="radio", name="enable2FactorAuthenticationLogin", value="0")
                            = lang.auto_login.no

                div.radio.col-sm-5
                    span.col-sm-6.label-text= lang.send_code.text
                    div.col-sm-6.label-radio
                        label.col-sm-6
                            input(type="radio", name="sendPasscodeToDeviceId", value="1" checked)
                            = lang.send_code.mobile
                        label.col-sm-6
                            input(type="radio", name="sendPasscodeToDeviceId", value="2")
                            = lang.send_code.email

        div.section
            div.form-group
                label.col-sm-4(for="first-name")
                    span.highlight *
                    = lang.first_name.text
                div.col-sm-5
                    input.form-control.required#first-name(type="text", name="firstName", placeholder= lang.first_name.placeholder)

            div.form-group
                label.col-sm-4(for="last-name")
                    span.highlight *
                    = lang.last_name.text
                div.col-sm-5
                    input.form-control.required#last-name(type="text", name="lastName", placeholder= lang.last_name.placeholder)

            div.form-group
                label.col-sm-4(for="email")
                    span.highlight *
                    = lang.email_address.text
                div.col-sm-5
                    input.form-control.required#email(type="email", name="eMailAddress", placeholder= lang.email_address.placeholder)

            div.form-group
                label.col-sm-4(for="mobile-number")
                    span.highlight *
                    = lang.mobile_num.text
                div.col-sm-5
                    input.form-control.required#mobile-number(type="tel", name="phoneNumber", placeholder= lang.mobile_num.placeholder)

            div.form-group
                label.col-sm-4(for="other-mobile-phone")= lang.other_num.text
                div.col-sm-5
                    input.form-control#other-mobile-phone(type="tel", name="otherPhone", placeholder= lang.other_num.placeholder)

        div.section
            div.form-group
                label.col-sm-4(for="jobTitle")
                    span.highlight *
                    = lang.job_title.text
                div.col-sm-5
                    input.form-control.required#jobTitle(type="text", name="jobTitle", placeholder= lang.job_title.placeholder)

            div.form-group
                label.col-sm-4(for="department")= lang.department.text
                div.col-sm-5
                    select.form-control#department(name="businessDepartmentId")
                        for dep in lang.department.departments
                            option(value="1")= dep

            div.form-group
                label.col-sm-4(for="timeZone")= lang.time_zone.text
                div.col-sm-5
                    select.form-control#timeZone(name="workTimeZone")
                        for zone in timezones
                            option(value=zone.timeZoneId)= zone.timeZoneLocation + '\t' + zone.gmt

            div.form-group
                label.col-sm-4(for="work-email")= lang.work_email.text
                div.col-sm-5
                    input.form-control#work-email(name="workEmail", type="email", placeholder= lang.work_email.placeholder)

            div.form-group
                label.col-sm-4(for="office-phone")= lang.office_phone.text
                div.col-sm-5
                    input.form-control#office-phone(name="officePhone", type="tel", placeholder= lang.office_phone.placeholder)

            div.form-group
                label.col-sm-4(for="addStreet")= lang.office_address.text
                div.col-sm-5.country
                    input.form-control#addStreet(type="text", name="officeAddressStreet", placeholder= lang.office_address.placeholder.street)
                    input.form-control(type="text", name="officeAddressCity", placeholder= lang.office_address.placeholder.city)
                    input.form-control(type="text", name="officeAddressStateProvince", placeholder= lang.office_address.placeholder.state)
                    select.form-control(name="officeAddressCountry")
                        for country in countries
                            option(value=country.countryId)= country.countryCode + "\t(" + country.countryName + ")"

            div.form-group
                label.col-sm-4(for="userNote")= lang.user_note.text
                div.col-sm-5
                    textarea.form-control#userNote(name="userNote", placeholder= lang.user_note.placeholder)

            div.form-group
                label.col-sm-4(for="logo")= lang.photo.text
                div.col-sm-5
                    input#upload-logo(placeholder= lang.photo.placeholder, type="file", class="file", data-preview-file-type="text")

        div.section
            button.btn.btn-primary.submit#submit(type="submit")= lang.submit_btn.text
