extends ../../users/public/layout

block content
    link(rel='stylesheet' href='/styles/client/' + key + '.css')
    form.form-horizontal(method="post", role="form")
        h1.title= lang.title
        div.section
            div.form-group
                label.col-sm-4(for="username")= lang.username.text
                div.col-sm-5
                    input.form-control#username(type="text", name="username", placeholder= lang.username.placeholder)

            div.form-group
                label.col-sm-4(for="password")= lang.password.text
                div.col-sm-5
                    input.form-control#password(type="password", name="username", placeholder= lang.password.placeholder)

            div.form-group
                label.col-sm-4(for="confirm")= lang.confirm.text
                div.col-sm-5
                    input.form-control#confirm(type="password", name="confirm", placeholder= lang.confirm.placeholder)

            div.form-group
                label.col-sm-4(for="question")= lang.question.text
                div.col-sm-5
                    input.form-control#question(type="password", name="question", placeholder= lang.question.placeholder)

            div.form-group
                label.col-sm-4(for="answer")= lang.answer.text
                div.col-sm-5
                    input.form-control#answer(type="text", name="answer", placeholder= lang.answer.placeholder)

            div.form-group
                div.radio.col-sm-6
                    span.col-sm-7= lang.auto_login.text
                    div.col-sm-5
                        label.col-sm-6
                            input(type="radio", name="auto-login", value="yes" checked)
                            = lang.auto_login.yes
                        label.col-sm-6
                            input(type="radio", name="auto-login", value="no")
                            = lang.auto_login.no

                div.radio.col-sm-5
                    span.col-sm-6= lang.send_code.text
                    div.col-sm-6
                        label.col-sm-6
                            input(type="radio", name="send-code", value="mobile" checked)
                            = lang.send_code.mobile
                        label.col-sm-6
                            input(type="radio", name="send-code", value="email")
                            = lang.send_code.email

        div.section
            div.form-group
                label.col-sm-4(for="firstName")= lang.first_name.text
                div.col-sm-5
                    input.form-control#firstName(type="text", name="firstName", placeholder= lang.first_name.placeholder)

            div.form-group
                label.col-sm-4(for="lastName")= lang.last_name.text
                div.col-sm-5
                    input.form-control#lastName(type="text", name="lastName", placeholder= lang.last_name.placeholder)

            div.form-group
                label.col-sm-4(for="email")= lang.email_address.text
                div.col-sm-5
                    input.form-control#email(type="email", name="email", placeholder= lang.email_address.placeholder)

            div.form-group
                label.col-sm-4(for="mobileNum")= lang.mobile_num.text
                div.col-sm-5
                    input.form-control#mobileNum(type="tel", name="mobileNum", placeholder= lang.mobile_num.placeholder)

            div.form-group
                label.col-sm-4(for="otherNum")= lang.other_num.text
                div.col-sm-5
                    input.form-control#otherNum(type="tel", name="otherNum", placeholder= lang.other_num.placeholder)

        div.section
            div.form-group
                label.col-sm-4(for="jobTitle")= lang.job_title.text
                div.col-sm-5
                    input.form-control#jobTitle(type="text", name="job-title", placeholder= lang.job_title.placeholder)

            div.form-group
                label.col-sm-4(for="department")= lang.department.text
                div.col-sm-5
                    select.form-control#department(name="department")
                        for dep in lang.department.departments
                            option= dep

            div.form-group
                label.col-sm-4(for="timeZone")= lang.time_zone.text
                div.col-sm-5
                    select.form-control#timeZone(name="time-zone")
                        for zone in lang.time_zone.timeZones
                            option= zone

            div.form-group
                label.col-sm-4(for="workEmail")= lang.work_email.text
                div.col-sm-5
                    input.form-control#workEmail(type="email", placeholder= lang.work_email.placeholder)

            div.form-group
                label.col-sm-4(for="officePhone")= lang.office_phone.text
                div.col-sm-5
                    input.form-control#officePhone(type="tel", placeholder= lang.office_phone.placeholder)

            div.form-group
                label.col-sm-4(for="addStreet")= lang.office_address.text
                div.col-sm-5.country
                    input.form-control#addStreet(type="text", name="street", placeholder= lang.office_address.placeholder.street)
                    div
                        input.form-control(type="text", name="city", placeholder= lang.office_address.placeholder.city)
                        input.form-control(type="text", name="state", placeholder= lang.office_address.placeholder.state)
                    div
                        input.form-control(type="text", name="zip-code", placeholder= lang.office_address.placeholder.zip_code)
                        select.form-control(name="country")
                            for country in lang.office_address.country
                                option= country

            div.form-group
                label.col-sm-4(for="userNote")= lang.user_note.text
                div.col-sm-5
                    textarea.form-control#userNote(placeholder= lang.user_note.placeholder)

            div.form-group
                label.col-sm-4(for="photo")= lang.photo.text
                div.col-sm-5
                    input#photo(type="file", placeholder= lang.photo.placeholder)

        div.section
            button.btn.btn-primary.submit(type="submit")= lang.submit_btn.text
