extends ../public/layout

block content
    div.section.hidden-xs
        div.form-group.clearfix
            div.col-sm-2.search
                input.form-control.search-input(type='text',placeholder=lang.searchplaceholder)
            div.col-sm-2.search
                select.form-control#showmethod(name='showmethod')
                    for staff in lang.showmethod
                        option=staff
            div.col-sm-2.search
                select.form-control#searchname(name='searchname')
                    for name in lang.names
                        option=name
            div.col-sm-3.search
                a(href='#')=lang.search.text
            div.col-sm-3
                button.btn.btn-default.btn-info
                  a(href="createWork")=lang.create_newwork.text
        div.table-style.col-sm-12
            table.table.table-bordered.table-striped.table-condensed
                thead
                    th= lang.thead.time
                    th= lang.thead.Sunday
                    th= lang.thead.Monday
                    th= lang.thead.Tuesday
                    th= lang.thead.Wednesday
                    th= lang.thead.Thursday
                    th= lang.thead.Friday
                    th= lang.thead.Saturday
                tbody

                    if lang.works.length>0
                        each work in lang.works
                            tr
                                td= work.time
                                td= work.Sunday
                                td= work.Monday
                                td= work.Tuesday
                                td= work.Wednesday
                                td= work.Thursday
                                td= work.Friday
                                td= work.Saturday
    div.visible-xs
        div.search-bar.container
            div.search-box
                input.form-control.search-input(type='text',placeholder=lang.searchplaceholder)
            div.search-box
                select.form-control#showmethod-xs(name='showmethod')
                    for staff in lang.showmethod
                        option=staff
            div.search-box
                select.form-control#searchname-xs(name='searchname')
                    for name in lang.names
                        option=name
            div.search-box
                button.btn.btn-default.btn-info.btn-sm
                    a(href="createWork")=lang.create_newwork.text
        div.panel-group#accordion(role="tablist", aria-multiselectable="true")
            mixin work-url(work)
                - work = work ? work : '-'
                a(href="modifyWork")= work
            each work in lang.works
                div.panel.panel-default
                    div.panel-heading(role="tab", id=work.id)
                        h4.panel-title
                            a(role="button",
                            data-toggle="collapse",
                            data-parent="#accordion",
                            href="#collapse-" + work.id,
                            aria-expanded="false",
                            aria-controls="collapse-" + work.id)
                                span= lang.thead.time + ': ' + work.time
                    div.panel-collapse.collapse(
                    id="collapse-" + work.id,
                    role="tabpanel",
                    aria-labelledby=work.id)
                        div.panel-body
                            p= lang.thead.Sunday + ': '
                                +work-url(work.Sunday)
                            p= lang.thead.Monday + ': '
                                +work-url(work.Monday)
                            p= lang.thead.Tuesday + ': '
                                +work-url(work.Tuesday)
                            p= lang.thead.Wednesday + ': '
                                +work-url(work.Wednesday)
                            p= lang.thead.Thursday + ': '
                                +work-url(work.Thursday)
                            p= lang.thead.Friday + ': '
                                +work-url(work.Friday)
                            p= lang.thead.Saturday + ': '
                                +work-url(work.Saturday)

block footer
  include ../public/footerfixed
