extends ../public/layout

block content
    div.section.hidden-xs
        div.form-group.clearfix
            div.col-sm-3.col-md-2.search
                input.form-control.search-input(type='text',placeholder=lang.search_placeholder)
            div.col-sm-3.col-md-2.search
                select.form-control#searchname(name='searchname')
                    for name in names
                        option=name
            div.col-sm-3.col-md-2.search
                select.form-control#searchstaff(name='searchstaff')
                    for staff in staffs
                        option=staff
            div.col-sm-3.col-md-2.search
                a(href='#')=lang.search
            div.col-sm-6.col-md-4
                button.btn.btn-default.btn-info.search-btn
                    a(href="workCalendar")=lang.calendar
                button.btn.btn-default.btn-info.search-btn
                    a(href="createWork")=lang.create_notification
        div.table-responsive.table-style.col-sm-12
            table.table.table-bordered.table-striped.table-condensed
                thead
                    th= lang.thead.number
                    th= lang.thead.work
                    th= lang.thead.status
                    th= lang.thead.assignee
                    th= lang.thead.time
                    th= lang.thead.duration
                    th= lang.thead.location
                    th= lang.thead.client
                    th= lang.thead.note
                    th= lang.thead.billable
                    th= lang.thead.billingrate
                    th= lang.thead.manage
                tbody
                    if works.length > 0
                        each work in works
                            tr
                                td= work.number
                                td= work.work
                                td= work.status
                                td= work.assignee
                                td= work.time
                                td= work.duration
                                td= work.location
                                td= work.client
                                td= work.note
                                td= work.billable
                                td= work.billingrate
                                td
                                    button.btn.btn-default.btn-info
                                        a(href="modifyWork")= lang.btn_update
    div.visible-xs
        div.search-bar.container
            div.search-box
                input.form-control.search-input(type='text',placeholder=lang.search_placeholder)
            div.search-box
                select.form-control#searchname-xs(name='searchname')
                    for name in names
                        option=name
            div.search-box
                select.form-control#searchstaff-xs(name='searchstaff')
                    for staff in staffs
                        option=staff
            div.search-box
                button.btn.btn-default.btn-info.btn-sm.search-adv
                    a(href='#')=lang.search
            div.search-box
                div.search-btn
                    button.btn.btn-default.btn-info.btn-sm
                        a(href="workCalendar")=lang.calendar
                div.search-btn
                    button.btn.btn-default.btn-info.btn-sm
                        a(href="createWork")=lang.create_notification
        div.panel-group#accordion(role="tablist", aria-multiselectable="true")
            each work in works
                div.panel.panel-default
                    div.panel-heading(role="tab", id=work.id)
                        h4.panel-title
                            a(role="button",
                            data-toggle="collapse",
                            data-parent="#accordion",
                            href="#collapse-" + work.id,
                            aria-expanded="false",
                            aria-controls="collapse-" + work.id)
                                span= lang.thead.number + ': ' + work.number
                                span &nbsp&nbsp&nbsp&nbsp
                                span= lang.thead.work + ': ' + work.work
                    div.panel-collapse.collapse(
                    id="collapse-" + work.id,
                    role="tabpanel",
                    aria-labelledby=work.id)
                        div.panel-body
                            p= lang.thead.status + ': ' + work.status
                            p= lang.thead.assignee + ': ' + work.assignee
                            p= lang.thead.time + ': ' + work.time
                            p= lang.thead.duration + ': ' + work.duration
                            p= lang.thead.location + ': ' + work.location
                            p= lang.thead.client + ': ' + work.client
                            p= lang.thead.note + ': ' + work.note
                            p= lang.thead.billable + ': ' + work.billable
                            p= lang.thead.billingrate + ': ' + work.billingrate
                            button.btn.btn-default.btn-info
                                a(href="modifyWork")= lang.btn_update

block footer
    include ../public/footerfixed
