extends ../public/layout

block content
    div.section.hidden-xs
        div.form-group.clearfix
            div.col-sm-3.search
                input.form-control.search-input(type='text',placeholder=lang.search_placeholder)
            div.col-sm-3.search
                a(href='#')=lang.search
            div.col-sm-5.col-sm-offset-1
                button.btn.btn-default.btn-info
                    a(href="createNewsletter")=lang.create_newsletter

        div.table-style.col-sm-12
            table.table.table-bordered.table-striped.table-condensed
                thead
                    th= lang.thead.number
                    th= lang.thead.name
                    th= lang.thead.description
                    th= lang.thead.recipents
                    th= lang.thead.send_time
                    th= lang.thead.status
                    th= lang.thead.manage
                tbody
                    mixin btn_manage(newsletter)
                        a(href="#")= newsletter.status == 'Completed' ? lang.btn_view : lang.btn_update

                    if newsletters.length>0
                        each newsletter in newsletters
                            tr
                                td= newsletter.number
                                td= newsletter.name
                                td= newsletter.description
                                td= newsletter.recipents
                                td= newsletter.send_time
                                td= newsletter.status
                                td
                                    button.btn.btn-default.btn-info
                                        +btn_manage(newsletter)
    div.visible-xs
        div.search-bar.container
            div.search-box
                input.form-control.search-input(type='text',placeholder=lang.search_placeholder)
            div.search-box
                button.btn.btn-default.btn-info.btn-sm
                    a(href='#')=lang.search
            div.search-box
                button.btn.btn-default.btn-info.btn-sm
                    a(href="createNewsletter")=lang.create_newsletter
        div.panel-group#accordion(role="tablist", aria-multiselectable="true")
            each newsletter in newsletters
                div.panel.panel-default
                    div.panel-heading(role="tab", id=newsletter.id)
                        h4.panel-title
                            a(role="button",
                            data-toggle="collapse",
                            data-parent="#accordion",
                            href="#collapse-" + newsletter.id,
                            aria-expanded="false",
                            aria-controls="collapse-" + newsletter.id)
                                span= lang.thead.number + ': ' + newsletter.number
                                span &nbsp&nbsp&nbsp&nbsp
                                span= lang.thead.name + ': ' + newsletter.name
                    div.panel-collapse.collapse(
                    id="collapse-" + newsletter.id,
                    role="tabpanel",
                    aria-labelledby=newsletter.id)
                        div.panel-body
                            p= lang.thead.description + ': ' + newsletter.description
                            p= lang.thead.recipents + ': ' + newsletter.recipents
                            p= lang.thead.send_time + ': ' + newsletter.send_time
                            p= lang.thead.status + ': ' + newsletter.status
                            button.btn.btn-default.btn-info
                                +btn_manage(newsletter)

block footer
    include ../public/footerfixed
