div.section    
    div.clearfix.footnavbar
        div.col-sm-10
            ul.nav.nav-pills
                li
                    a(href='#')=lang.footnavbar.help
                li
                    a(href='#')=lang.footnavbar.manual
                li
                    a(href='#')=lang.footnavbar.forum
                li
                    a(href='#')=lang.footnavbar.privacy
                li
                    a(href='#')=lang.footnavbar.service