div.clearfix
    div.col-sm-12
        ul.nav.nav-pills
            li.col-sm-3
                a(href='#')=lang.client_accounts.text
            li.col-sm-2
                a(href='#')=lang.work_book.text
            li.col-sm-2
                a(href='#')=lang.billing_payment.text
            li.col-sm-2
                a(href='#')=lang.marketing.text
            li.col-sm-2
                a(href='#')=lang.reports.text