extends ../public/layout

block content
    div.section.hidden-xs
        div.form-group.clearfix
            div.col-sm-3.search
                input.form-control.search-input(type='text',placeholder=lang.search_placeholder)
            div.col-sm-3.search
                select.form-control#searchmethod(name='searchmethod')
                    for method in lang.search_method
                        option=method
            div.col-sm-3.search
                select.form-control#searchname(name='searchname')
                    for name in names
                        option=name
            div.col-sm-3.search
                a(href='#')=lang.search
        div.table-style.col-sm-12
            table.table.table-bordered.table-striped.table-condensed
                thead
                    th= lang.thead.pay
                    th= lang.thead.method
                    th= lang.thead.note
                    th= lang.thead.date
                    th= lang.thead.amount
                    th= lang.thead.detail
                tbody

                    if payments.length > 0
                        each payment in payments
                            tr
                                td= payment.pay
                                td= payment.method
                                td= payment.note
                                td= payment.date
                                td= payment.amount
                                td
                                    a(href="#")= lang.btn_detail
    div.visible-xs
        div.search-bar.container
            div.search-box
                input.form-control.search-input(type='text',placeholder=lang.search_placeholder)
            div.search-box
                select.form-control#searchmethod-xs(name='searchmethod')
                    for method in lang.search_method
                        option=method
            div.search-box
                select.form-control#searchname-xs(name='searchname')
                    for name in names
                        option=name
            div.search-box
                button.btn.btn-info.btn-sm
                    a(href='#')=lang.search
        div.panel-group#accordion(role="tablist", aria-multiselectable="true")
            each payment in payments
                div.panel.panel-default
                    div.panel-heading(role="tab", id=payment.id)
                        h4.panel-title
                            a(role="button",
                            data-toggle="collapse",
                            data-parent="#accordion",
                            href="#collapse-" + payment.id,
                            aria-expanded="false",
                            aria-controls="collapse-" + payment.id)
                                span= lang.thead.pay + ': ' + payment.pay
                    div.panel-collapse.collapse(
                    id="collapse-" + payment.id,
                    role="tabpanel",
                    aria-labelledby=payment.id)
                        div.panel-body
                            p= lang.thead.method + ': ' + payment.method
                            p= lang.thead.note + ': ' + payment.note
                            p= lang.thead.date + ': ' + payment.date
                            p= lang.thead.amount + ': ' + payment.amount
                            button.btn.btn-default.btn-info
                                a(href="#")= lang.btn_detail

block footer
    include ../public/footerfixed
