extends ../layout

block navbar
    include ../public/navbar

block content
    div.section.clearfix.hidden-xs
        div.form-group
            h2= lang.title

        div.form-group.col-sm-12.info
            p.col-sm-12= lang.invoice_num + bill_info.number
            p.col-sm-12= lang.invoice_date + bill_info.date
            p.col-sm-12= lang.bill_to
            p.col-sm-12= bill_info.name
            p.col-sm-12= bill_info.address

        div.table-style.col-sm-12.form-group
            table.table.table-bordered.table-striped.table-condensed
                thead
                    th= lang.thead.work_number
                    th= lang.thead.description
                    th= lang.thead.time
                    th= lang.thead.duration
                    th= lang.thead.rate
                    th= lang.thead.subtotal
                    th= lang.thead.work_status
                    th= lang.thead.edit
                tbody

                    if invoices.length>0
                        each invoice in invoices
                            tr
                                td= invoice.work_number
                                td= invoice.description
                                td= invoice.time
                                td= invoice.duration
                                td= invoice.rate
                                td= invoice.subtotal
                                td= invoice.work_status
                                td
                                    button.btn.btn-default.btn-info= lang.btn_edit

        div.form-group
            div.footer-btn-group.col-sm-12
                button.btn.btn-default.btn-info= lang.btn_groups.cancel
                button.btn.btn-default.btn-info= lang.btn_groups.both
                button.btn.btn-default.btn-info= lang.btn_groups.manual_edit
                button.btn.btn-default.btn-info= lang.btn_groups.save
                button.btn.btn-default.btn-info= lang.btn_add_work

    div.visible-xs
        div.search-bar.container
            div.form-group.info
                div.col-xs-12=lang.invoice_date.text
                div.col-xs-12=lang.bill_to.date
                div.col-xs-12=lang.bill_to.text
                div.col-xs-12=lang.bill_to.name
                div.col-xs-12=lang.bill_to.address
        div.panel-group#accordion(role="tablist", aria-multiselectable="true")
            each invoice in invoices
                div.panel.panel-default
                    div.panel-heading(role="tab", id=invoice.id)
                        h4.panel-title
                            a(role="button",
                            data-toggle="collapse",
                            data-parent="#accordion",
                            href="#collapse-" + invoice.id,
                            aria-expanded="false",
                            aria-controls="collapse-" + invoice.id)
                                p= lang.thead.work_number + ': ' + invoice.work_number
                                = lang.thead.time + ': ' + invoice.time
                    div.panel-collapse.collapse(
                    id="collapse-" + invoice.id,
                    role="tabpanel",
                    aria-labelledby=invoice.id)
                        div.panel-body
                            p= lang.thead.description + ': ' + invoice.description
                            p= lang.thead.duration + ': ' + invoice.duration
                            p= lang.thead.rate + ': ' + invoice.rate
                            p= lang.thead.subtotal + ': ' + invoice.subtotal
                            p= lang.thead.work_status + ': ' + invoice.work_status
                            button.btn.btn-default.btn-info= lang.btn_edit

        div.section
            div.form-group
                div.buttons.col-sm-9.col-sm-offset-3.col-xs-12
                    button.btn.btn-default.btn-info= lang.btn_add_work
                    button.btn.btn-default.btn-info= lang.btn_groups.cancel
                    button.btn.btn-default.btn-info= lang.btn_groups.both
                    button.btn.btn-default.btn-info= lang.btn_groups.manual_edit
                    button.btn.btn-default.btn-info= lang.btn_groups.save
    script(type='text/javascript' src='/scripts/lib/My97DatePicker/WdatePicker.js')
    include ../public/footnavbar

block footer
    include ../public/footer
